<%- include layouts/header.ejs %>

        <div class="page-data">
            
            
                <table cellpadding="11">
                 <tr>
                    <td class="label" valign="top">Query</td><td valign="top">: <%=data[0].query%></td>
                </tr>
                <tr>
                    <td class="label" valign="top">Answer</td>
                    <% if(data[0].answer != null){ %>
                    <td class="" ><%=data[0].answer%></td>
                    <% }else{%>
                    <td class="" >No answer has been posted by the questioner</td>
                    <% }%>
                </tr>
                <tr>
                <td></td>
                	<td>
                		
                	</td>
                </tr>
                <tr>
                <td></td>
                	<td>
                		<!--
                		<div id="mydiv">
	                    	<a class="viewButton" href="/report/<%=data[0].id%>">&nbsp;&nbsp;&nbsp;Report&nbsp;&nbsp;&nbsp;</a>
                    		<a class="viewButton" href="/unreport/<%=data[0].id%>">&nbsp;&nbsp;&nbsp;Unreport&nbsp;&nbsp;&nbsp;</a>
                    	</div>
                    	-->
                	</td>
                </tr>
                </table>
            
            
        </div>
        
<%- include layouts/footer.ejs %>
