<%- include layouts/header.ejs %>


	
    
   
	
   <div class="page-data">
   
   
      
      <div class="data-table">
          <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">bookId</th>
                <th>quantity</th>
                <th>author</th>
                <th>description</th>
               
                <th>bookName</th>
               
            </tr>
                               
                <% if(data.length){ 
                                
	                for(var i = 0;i < data.length;i++) { %>
	                 
	                <tr>
	                    <td><a href="../sbooks/order/<%=data[i].bookId%>"><%=data[i].bookId%></a></td>
	                    <td><%=data[i].quantity%></td>
	                    <td><%=data[i].author%></td>
	                    <td><%=data[i].description%></td>
	                    <td><%=data[i].bookName%></td>
	                   
	                </tr>
	            
	           <% }    
               }else{ %>
                 <tr>
                    <td colspan="3">No books!</td>
                 </tr>
            <% } %>
            
         </table>
         <div class="data-btn">
          <button onClick="DeletePreviousOrder();">View My Previous Orders</button>
      </div>
     </div>
  </div>
  
  

