<%- include layouts/header.ejs %>


	
    
   
	
   <div class="page-data">
 
      
      <div class="data-table">
          <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">User Id</th>
                <th>Book Id</th>
               
                <th>Order Number</th>
                
                <th>Booked Date</th>
                <th>Return Date</th>
                <th>Want to cancel?</th>
               
               
               
            </tr>
                               
                <% if(data.length){ 
                                
	                for(var i = 0;i < data.length;i++) { %>
	                 
	                <tr>
	                    <td align="center"><%=data[i].userId%></a></td>
	                    <td align="center"><%=data[i].bookId%></td>
	                   
	                    <td align="center"><%=data[i].orderId%></td>
	                    <td align="center"><%
	                    	var d = data[i].start_time;
						    %>
						<%=((d.getMonth() + 1) + " / " + d.getDate() + " / " + d.getFullYear())
	                    %></td>
	                    <td align="center"><%
	                    	var d = data[i].end_time;
						    %>
						<%=((d.getMonth() + 1) + " / " + d.getDate() + " / " + d.getFullYear())
	                    %></td>
	                   <td align="center"><a href="../sbooks/order/<%=data[i].bookId%>/deleteBook">Cancel Order!</a></td>
	                    
	                </tr>
	            
	           <% }    
               }else{ %>
                 <tr>
                    <td colspan="6" align="center">You have not reserved any books !!</td>
                 </tr>
            <% } %>
            
         </table>
         
	                   
     </div>
  </div>
  
  
<%- include layouts/footer.ejs %>
