


<%- include layouts/header.ejs %>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/dropdown.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/error.css" type="text/css" >
	     <link rel="stylesheet" href="/stylesheets/Home.css" type="text/css" >

   <div class="page-data">
   
    	
	  			<% for(var i=0; i < data.length; i++) { %>
	  			
					<option value=<%= data[i].topic %>> <%= data[i].topic %> </option>
					
					<button style="width:100px;" class="a-inside edit" onClick="location.href='../ratep/<%=data[i].topic%>'">review</button>
					
					
					
	            <% } %>

			

		

		
	
        
    
  </div>
        
<%- include layouts/footer.ejs %>
